@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.message-border-radius{
  border-radius: 0px 10px 10px 10px;
}
.message-border-radius2{
  border-radius: 10px 10px 0px 10px;
}

body::selection{
  background: #000;
}